/*css*/

#header{
	margin-top: 15%;
	text-align: center;
}
.search{
	position: relative;
	margin-left: 20%;
	margin-right: 20%;
	/*margin-top: 5%;*/
	text-align: center;
	width: 60%;
}

#footer{
	text-align: center;
	margin-top: 15%;
}