/*css*/

#header{
	margin-top: 5%;
	text-align: center;
}
.search{
	position: relative;
	margin-left: 5%;
	margin-right: 5%;
	/*margin-top: 5%;*/
	text-align: center;
	width: 90%;
}

#footer{
	text-align: center;
	margin-top: 5%;
}
#donate{
	text-align: center;
}

#VOD{
	margin-left: 10%;
	margin-right: 20%;
	text-align: center;
}
