/*css*/

#header{
	margin-top: 5%;
	text-align: center;
}
.search{
	position: relative;
	margin-left: 10%;
	margin-right: 10%;
	/*margin-top: 5%;*/
	text-align: center;
	width: 80%;
}

#footer{
	text-align: center;
	margin-top: 10%;
}
